[package]
name = "debruijn_mapping"
version = "0.2.0"
authors = ["Avi Srivastava <avi.srivastava@10xgenomics.com>", "Patrick Marks <patrick@10xgenomics.com>", "Joey Arthur <joey.arthur@10xgenomics.com>"]

[dependencies]
bio = "0.22"
crossbeam = "0.4"
debruijn = { git = "https://github.com/10XGenomics/rust-debruijn" }
docopt = "1.0"
failure = "0.1"
flate2 = "1.0"
itertools = "0.7"
lazy_static = "0.2"
log = "0.4"
rayon = "1.0"
serde = "1.0"

[dependencies.bincode]
version = "1.0"
features = ["i128"]

[dependencies.pretty_env_logger]
git = "https://github.com/k3yavi/pretty-env-logger"
branch = "master"

[dependencies.boomphf]
git = "https://github.com/10XGenomics/rust-boomphf"
branch = "master"
features = ["serde", "fast-constructors"]

[profile.release]
debug = true
