[package]
name = "debruijn_mapping"
version = "0.4.0"
authors = ["Avi Srivastava <avi.sri02@gmail.com>", "Patrick Marks <patrick@10xgenomics.com>", "Joey Arthur <joey.arthur@10xgenomics.com>"]
edition = "2018"

[dependencies]
bio = "0.29"
bio-types = "0.5"
crossbeam-utils = "0.6"
debruijn = { git = "https://github.com/10XGenomics/rust-debruijn" }
docopt = "1.0"
failure = "0.1"
flate2 = "1.0"
itertools = "0.7"
lazy_static = "1.4"
log = "0.4"
rayon = "1.0"
serde = "1.0"
shardio = "0.5"
pretty_assertions = "0.5.1"
boomphf = "0.5"
dashmap = "1.2"
bincode = "1.2"
pretty_env_logger = "0.3"

[dependencies.smallvec]
version = "0.6"
features = ["serde"]

[dev-dependencies.proptest]
version = "0.9"
default-features = false
# Enable all default features not known to break code coverage builds
features = ["default-code-coverage"]

[profile.release]
debug = true

[features]
default = []
slow_tests = []